.JobSearchHeader {
    height: auto;
    width: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #0A66C2;
}

header section {
    width: 80vw;
    margin: 1.5vh 0 5vh 10vw;
    background-color: #0A66C2;
    /* margin: 5vh 0 5vh 11vw; */
    border: 1px solid black;
}

.logoSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.leftLogoSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoPic {
    margin-left: -0.8vw;
}

.findJobs {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.findJobs span {
    margin: 0 2vw;
    /* border: 0.5px solid black; */
    padding: 3.5vh 0;
}

.findJobs span:hover {
    color: #CCCACA;
    cursor: pointer;
}

/* rightLogoSection is here */
.rightLogoSection {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-left: 28.7vw;
}
.rightLogoSection p:hover{
    cursor: pointer;
    color: #CCCACA;
}
.rightLogoSection div {
    height: 6vh;
    width: 2px;
    background-color: white;
    margin: 0 2vw 0 2vw;
}

.dropDown {
    height: 20px;
    width: 40px;
    display: flex;
    flex-direction: column;
    margin: 0 0 1vh 3.8vw;
    display: none;
}

.topHr,
.bottomHr {
    height: 4px;
    width: 40px;
    background-color: white;
}

.middleHr {
    height: 4px;
    width: 40px;
    margin: 4px 0 4px 0;
    background-color: white;
}

/* headingSection is here */
.headingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 0 5vh 0;
}

@font-face {
    font-family: 'NeueMontreal-Medium';
    src: url('../../../../fonts/NeueMontreal-Medium.otf') format("opentype");
}

.heading1 {
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'NeueMontreal-Medium', 'Poppins', sans-serif;
    letter-spacing: 0.1px;
    text-align: center;
    line-height: 5vh;
}

.heading1 span {
    color: #F6EEA1;
}

.heading1Bottom {
    margin-top: -1vh;
}

.heading2 {
    font-size: 0.7rem;
    color: white;
    font-weight: 300;
}

/* searchSection is here */

.searchSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
    margin: 10vh 0 0 0;
}

.bestCareer {
    display: flex;
    flex-direction: column;
    color: white;
    /* border: 1px solid black; */
    width: 14vw;
}

.bestCareer b {
    font-size: 1rem;
}

.What,
.Experience,
.Where {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5vh;
    /* border: 1px solid black; */
}

.What label,
.Experience label,
.Where label {
    margin: 0;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}

.What label,
.Where label {
    margin-left: 1vw;
}

.Experience label {
    margin-left: 2vw;
}

.whatInput,
.whereInput {
    padding: 1.5vh 1vw;
    height: auto;
    width: 17vw;
    font-weight: 100;
    font-size: 0.8rem;
    border: 0;
    border-radius: 3vh;
    margin: 0;
    color: #AEAEAE;
}

.experienceInput {
    padding: 1.5vh 1vw;
    height: auto;
    width: 8vw;
    font-weight: 100;
    font-size: 0.8rem;
    border: 0;
    border-radius: 3vh;
    margin: 0 1vw;
    color: #AEAEAE;
}


.whatInput:focus,
.whereInput:focus,
.experienceInput:focus{
    outline: 0px;
}
.searchNowButton {
    padding: 10px 3vw;
    font-weight: bolder;
    color: black;
    background-color: #F6E75C;
    border: 0;
    height: 6vh;
    border-radius: 3vh;
    font-size: 0.8rem;
    width: auto;
    margin: 0 0 0 4.2vw;
}

.searchNowButton:hover{
    cursor: pointer;
}

/* differentJobs section is here */
.differentJobs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.differentJobs p {
    color: white;
    font-size: 0.8rem;
}

.informationTechnology {
    display: flex;
    flex-direction: column;
}

.differentJobsSeparate {
    height: 8vh;
    width: 1px;
    background-color: white;
    margin: 0 1.25vw;
}


/* responsive for 1920px is here */
@media(width=1920px) {
    header section {
        height: auto;
        /* border: 1px solid black; */
    }

    .logoPic {
        margin-left: -0.7vw;
    }

    .rightLogoSection {
        margin-left: 36.6vw;
    }

    .heading1 {
        font-size: 48px;
    }

    .heading2 {
        font-size: 16px;
    }

    .bestCareer {
        font-size: 24px;
        margin-right: 2vw;
    }

    .bestCareer b {
        font-size: 24px;
    }

    .What label,
    .Experience label,
    .Where label {
        font-size: 24px;
    }

    .whatInput,
    .whereInput,
    .experienceInput {
        font-size: 16px;
        color: #AEAEAE;
        height: 51px;
        padding: 0 1vw 0 1vw;
    }

    .searchNowButton {
        height: 51px;
        width: 225px;
        font-size: 16px;
        margin-left: 2.2vw;
    }

    .differentJobs {
        margin-top: 109px;
    }

    .differentJobs p {
        font-size: 16px;
    }
}

/* responsive for 1440px is here */
@media(width<=1440px){
    header section {
        height: auto;
        /* border: 1px solid black; */
    }

    .findJobs {
        font-size: 13px;
    }

    .heading1 {
        font-size: 2rem;
    }

    .heading2 {
        font-size: 0.7rem;
    }

    .logoPic {
        width: 16vw;
        margin-left: -0.9vw;
    }

    .bestCareer {
        font-size: 1rem;
        margin: 0;
    }

    .bestCareer b {
        font-size: 1rem;
    }

    .searchNowButton {
        width: auto;
        padding: 0 2.5vw;
        height: 5vh;
        border-radius: 2.5vh;
        font-size: 0.8rem;
        margin: 0 0 0 4.8vw;
    }

    .rightLogoSection p {
        font-size: 13px;
    }

    .rightLogoSection {
        margin-left: 31.1vw;
    }

    .What label,
    .Experience label,
    .Where label {
        font-size: 1.2rem;
    }

    .whatInput,
    .whereInput,
    .experienceInput {
        padding: 0 1vw;
        height: 5vh;
        border-radius: 2.5vh;
        font-size: 0.8rem;
    }

    .differentJobs {
        margin-top: 10vh;
    }

    .differentJobs p {
        font-size: 0.8rem;
    }
}

/* responsive for 1024px screen width */
@media(width=1024px) {
    .JobSearchHeader {
        height: auto;
    }

    header section {
        height: auto;
        /* border: 1px solid black; */
    }

    .logoPic {
        width: 14vw;
        margin: 0 0 0 -0.75vw;
    }

    .findJobs {
        font-size: 10px;
    }

    .rightLogoSection {
        margin: 0 0 0 32.15vw;
    }

    .rightLogoSection div {
        margin: 0 1.5vw;
    }

    .rightLogoSection p {
        font-size: 10px;
    }

    .dropDown {
        margin: 0 0 0 4.45vw;
        width: 30px;
    }

    .topHr,
    .middleHr,
    .bottomHr {
        width: 30px;
    }

    .heading1 {
        font-size: 1.4rem;
    }

    .heading2 {
        font-size: 0.6rem;
    }

    .bestCareer {
        display: flex;
        flex-direction: column;
        color: white;
        /* border: 1px solid black; */
        width: 14vw;
        margin-right: 2.5vh;
        font-size: 0.75rem;
    }

    .bestCareer b {
        font-size: 0.75rem;
    }

    .What {
        padding-left: 1vh;
    }

    .What label,
    .Where label {
        font-size: 0.75rem;
        margin-left: 1vw;
    }

    .Experience label {
        font-size: 0.75rem;
        margin-left: 2vw;
    }

    .whatInput,
    .whereInput {
        padding: 1.5vh 1vw;
        height: auto;
        width: 16vw;
        font-size: 0.55rem;
    }

    .experienceInput {
        padding: 1.5vh 1vw;
        height: auto;
        width: 9vw;
        font-size: 0.55rem;
        margin: 0 1vw;
    }

    .searchNowButton {
        padding: 0 0 0 0;
        font-size: 0.65rem;
        height: 5vh;
        width: 11vw;
        margin: 0 0 1vh 3.6vw;
    }

    .differentJobs p {
        font-size: 0.6rem;
    }
}

/* tablet resonsive is here */
@media(width<769px) {
    .JobSearchHeader {
        height: auto;
    }

    header section {
        height: auto;
        width: auto;
        /* border: 1px solid black; */
        margin: 5vh 25px 5vh 25px;
    }

    .logoPic {
        width: 23vw;
        margin: 0 0 0 -1.2vw;
    }

    .findJobs {
        display: none;
    }

    .rightLogoSection {
        display: none;
    }


    .dropDown {
        display: inherit;
        margin: 0 0 1vh 66.2vw;
        width: 30px;
    }

    .topHr,
    .middleHr,
    .bottomHr {
        width: 30px;
    }

    .headingSection {
        margin: 5vh 0 0 0;
    }

    .heading1 {
        font-size: 1.65rem;
    }

    .heading2 {
        text-align: center;
        width: 60vw;
        margin-top: 1vh;
    }

    .searchSection {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .bestCareer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 0 20vh 0;
        width: auto;
        position: absolute;
    }

    .bestCareer b {
        font-size: 1rem;
        margin: 0 1vw;
    }

    .whatInput,
    .whereInput,
    .experienceInput {
        width: 23vw;
        padding: 0 2vw 0 2vw;
    }

    .Experience label,
    .What label,
    .Where label {
        font-size: 0.9rem;
        text-align: center;
        margin: 0;
    }

    .searchNowButton {
        margin: 15vh 0 0 0;
        width: 27vw;
        position: absolute;
    }

    .differentJobs {
        margin-top: 12vh;
    }
}

/* mobile responsive is here */

@media (width<427px) {
    .JobSearchHeader {
        height: auto;
    }

    header section {
        height: auto;
        width: auto;
        margin: 16px 16px 16px 16px;
        /* margin: 5vh 0 5vh 11vw; */
        /* border: 1px solid black; */
    }

    .logoPic {
        width: 30vw;
        margin: 0 0 0 -1.3vw;
    }

    .findJobs {
        display: none;
    }

    .rightLogoSection {
        display: none;
    }

    .dropDown {
        margin-left: 56vw;
        width: 25px;
    }

    .topHr,
    .middleHr,
    .bottomHr {
        width: 25px;
    }

    .headingSection {
        margin: 4vh 0 2vh 0;
    }

    .heading1 {
        font-size: 1.2rem;
    }

    .heading2 {
        font-size: 0.6rem;
        width: auto;
        text-align: center;
        margin-top: 1vh;
    }

    .searchSection {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .bestCareer {
        display: flex;
        flex-direction: row;
        width: auto;
        font-size: 0.8rem;
        margin-bottom: 2vh;
        position: static;
    }

    .bestCareer b {
        margin: 0 1.5vw;
    }

    .What,
    .Experience,
    .Where {
        display: flex;
        flex-direction: column;
        margin: 0 0 2vh 0;
        text-align: center;
        /* border: 1px solid black; */
    }


    .whatInput,
    .whereInput,
    .experienceInput {
        width: 50vw;
        font-size: 0.75rem;
        padding: 0 2vw;
    }

    .What label,
    .Where label,
    .Experience label {
        margin-left: 1vw;
        font-size: 0.9rem;
    }

    .searchNowButton {
        width: 55vw;
        margin: 1vh 0 0 0;
        position: static;
    }

    .differentJobs {
        margin: 5vh 0 0 0;
    }

    .differentJobs p {
        font-size: 0.6rem;
    }

    .differentJobsSeparate {
        height: 6vh;
        margin: 0 2vw;
    }
}

@media(width<377px) {

    .whatInput,
    .whereInput,
    .experienceInput {
        padding: 0 2vw;
        width: 55vw;
    }

    .searchNowButton {
        width: 59vw;
    }

    .dropDown {
        margin-left: 54.25vw;
    }
}

@media(width<322px) {
    .logoPic {
        width: 35vw;
    }

    .heading1 {
        font-size: 1rem;
    }

    .heading2 {
        font-size: 0.5rem;
        margin-top: 0.5vh;
    }

    .dropDown {
        margin-left: 47vw;
    }

    .bestCareer {
        font-size: 0.7rem;
        margin-bottom: 2vh;
    }

    .bestCareer b {
        font-size: 0.7rem;
        margin: 0 1.5vw;
    }

    .whatInput,
    .whereInput,
    .experienceInput {
        padding: 0 2vw;
        width: 65vw;
    }

    .searchNowButton {
        width: 69vw;
    }

}