.JobCard {
    /* border: 1px solid black; */
    margin: 0 0 5vh 4.8vw;
}

.JobCardHeading {
    font-size: 0.9rem;
    font-weight: bolder;
}

.placeName,
.working {
    font-size: 0.75rem;
}

.jobContract {
    font-size: 0.8rem;
    font-weight: bolder;
    margin-top: 4vh;
}

.contractDetails {
    margin: 1.5vh 0;
}

.readMore {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.readMore p {
    font-size: 0.75rem;
    margin-right: 1vw;
}

/* responsive for 1920px width */
@media(width=1920px) {
    .JobCardHeading {
        font-size: 20px;
    }

    .placeName,
    .jobContract,
    .working,
    .readMore p {
        font-size: 16px;
    }

    .JobCard {
        /* border: 1px solid black; */
        margin: 0 0 5vh 3.5vw;
    }
}

/* responisve width 1440px */
@media(width=1440px) {
    .JobCard {
        /* border: 1px solid black; */
        margin: 0 0 5vh 4.8vw;
    }

    .JobCardHeading {
        font-size: 0.9rem;
    }

    .placeName,
    .working {
        font-size: 0.75rem;
    }


    .jobContract {
        font-size: 0.8rem;
    }

    .readMore p {
        font-size: 0.75rem;
    }
}

/* responsive for 1024px screen width */
@media(width=1024px) {
    .JobCard {
        margin: 0 2.9vw 0 0;
    }

    .JobCardHeading {
        font-size: 0.7rem;
        font-weight: bolder;
    }

    .placeName,
    .working {
        font-size: 0.55rem;
    }

    .jobContract {
        font-size: 0.6rem;
        font-weight: bolder;
        margin-top: 4vh;
    }

    .readMore p {
        font-size: 0.55rem;
        margin-right: 1vw;
    }
}

/* tablet responsive */
@media (width<769px) {
    .JobCard {
        margin: 0 7vw 2vh 0;
    }

    .JobCardHeading {
        font-size: 0.7rem;
    }

    .placeName,
    .working {
        font-size: 0.55rem;
    }

    .jobContract {
        font-size: 0.6rem;
    }

    .readMore p {
        font-size: 0.55rem;
    }
}

/* mobile responsive is here */

@media (width<426px) {
    .JobCard {
        margin: 0 19vw 2vh 0;
    }


    .JobCardHeading {
        font-size: 0.7rem;
    }

    .placeName,
    .working {
        font-size: 0.55rem;
    }

    .jobContract {
        font-size: 0.6rem;
    }

    .readMore p {
        font-size: 0.55rem;
    }
}

@media (width<321px) {
    .JobCard {
        margin: 0 3vw 0 0;
    }
}