.MadeEasySection {
    height: auto;
    width: auto;
    overflow-x: hidden;
    background-color: white;
}

.MadeEasySection section {
    background-color: white;
    width: 80vw;
    height: 50vh;
    margin: 5vh 0 5vh 10vw;
    /* margin: 5vh 0 5vh 11vw; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MadeEasySectionLeftPart p {
    font-size: 1.4rem;
    color: #333333;
    font-weight: bolder;
}

.MadeEasySectionRightPart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4vh;
}

.MadeEasySectionRightPart div p {
    font-size: 0.85rem;
    font-weight: 300;
}

.MadeEasySectionRightPartHeading {
    font-size: 1em;
    font-weight: bolder;
    color: #0A66C2;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
}

.bold {
    font-size: 1em;
    font-weight: bolder;
    color: #0A66C2;
    margin-bottom: 0.8vh;
    display: flex;
    flex-direction: column;
}

.MadeEasySectionRightPartMiddle {
    margin: 0 5vw 0 5vw;
}

.MadeEasySectionSeparater {
    height: 40vh;
    width: 1px;
    background-color: #aaaaaa;
    margin: 0 6vw 0 7.15vw;
}

.MadeEasySection section .inJobsightButton {
    background-color: #F6E75C;
    padding: 3vh 2vw;
    border: 0;
    height: 8vh;
    width: auto;
    border-radius: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10.6vw;
}

.greaterThan {
    margin-left: 1vw;
}

/* responsive for width 1920px */
@media(width=1920px) {
    .MadeEasySection section {
        height: auto;
        /* border: 1px solid black; */
    }

    .MadeEasySectionLeftPart p {
        font-size: 36px;
    }

    .MadeEasySectionSeparater {
        margin: 0 6vw 0 8.6vw;
    }

    .MadeEasySectionRightPartHeading,
    .bold {
        font-size: 24px;
    }

    .MadeEasySectionRightPart div p {
        font-size: 20px;
    }
    .MadeEasySectionRightPartMiddle {
        margin: 0 3.5vw 0 3.5vw;
    }
    .MadeEasySection section .inJobsightButton {
        font-size: 20px;
        margin-left: 4.2vw;
    }
}

/* responsive for width 1440px */
@media(width=1440px) {
    .MadeEasySection section {
        height: auto;
        /* border: 1px solid black; */
    }

    .MadeEasySectionLeftPart p {
        font-size: 1.4rem;
    }

    .MadeEasySectionSeparater {
        margin: 0 6vw 0 7.45vw;
    }

    .MadeEasySectionRightPart div p {
        font-size: 0.85rem;
    }

    .MadeEasySectionRightPartMiddle {
        margin: 0 5vw 0 5vw;
    }

    .MadeEasySectionRightPartHeading,
    .bold {
        font-size: 0.95rem;
    }

    .MadeEasySection section .inJobsightButton {
        font-size: 0.85rem;
        margin: 0 0 0 7.35vw;
    }
}

/* responsive for width 1024px */
@media(width=1024px) {
    .MadeEasySection section {
        height: auto;
        margin: 7vh 0 7vh 10vw;
        /* border: 1px solid black; */
    }

    .MadeEasySectionLeftPart p {
        font-size: 1.1rem;
    }

    .MadeEasySectionSeparater {
        margin: 0 4vw 0 9vw;
    }

    .MadeEasySectionRightPart div p {
        font-size: 0.7rem;
    }

    .MadeEasySectionRightPartHeading {
        font-size: 0.9em;
        margin-bottom: 4vh;
        display: flex;
        flex-direction: column;
    }

    .bold {
        font-size: 0.9em;
        font-weight: bolder;
        color: #0A66C2;
        margin-bottom: 0.8vh;
        display: flex;
        flex-direction: column;
    }

    .MadeEasySectionRightPartMiddle {
        margin: 0 2.5vw;
    }

    .MadeEasySection section .inJobsightButton {
        padding: 0.5vh 2vw;
        font-size: 0.7rem;
        border: 0;
        height: 6vh;
        width: auto;
        border-radius: 3vh;
        margin-left: 5.85vw;
    }

    .greaterThan {
        margin-left: 1vw;
        height: 2.5vh;
        width: 2.5vh;
    }
}


/* tablet responsive is here */
@media(width<769px) {
    .MadeEasySection section {
        background-color: white;
        width: auto;
        height: auto;
        margin: 5vh 25px 5vh 25px;
        /* margin: 5vh 0 5vh 11vw; */
        /* border: 1px solid black; */
    }

    .MadeEasySectionLeftPart p {
        font-size: 0.9rem;
    }

    .MadeEasySectionRightPart div p {
        font-size: 0.55rem;
    }

    .MadeEasySectionSeparater {
        width: 1px;
        margin: 0 6.5vw 0 10vw;
    }

    .MadeEasySectionRightPartHeading,
    .bold {
        font-size: 0.75rem;
    }

    .MadeEasySectionRightPartMiddle {
        margin: 0 2vw;
    }

    .MadeEasySection section .inJobsightButton {
        font-size: 0.5rem;
        padding: 1.5vh 2vw;
        border: 0;
        height: 5vh;
        border-radius: 2.5vh;
        margin-left: 13.85vw;
    }

    .greaterThan {
        height: 2vh;
        width: 2vh;
    }
}

/* mobile responsive is here */

@media (width<427px) {
    .MadeEasySection section {
        width: auto;
        height: auto;
        margin: 7vh 16px 7vh 16px;
        /* margin: 5vh 0 5vh 11vw; */
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .MadeEasySectionSeparater {
        display: none;
    }

    .MadeEasySectionRightPartMiddle {
        margin: 0 10vw;
    }

    .MadeEasySection section .inJobsightButton {
        margin: 0;
        width: 60vw;
        margin-top: 5vh;
    }
}